<?xml version="1.0" encoding="utf-8"?>
<manifest package="zzp.android.getweb"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="2.1">

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="16">
    </uses-sdk>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <!--android:alwaysRetainTaskState="true"-->
            <!-- 使用后，AddActivity启动MainTabActivity，若直接最小化，下次添加文章的时候，不会弹出AddActivity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WiFiDirectActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/AddActivity">
        </activity>
        <activity
            android:name=".AddActivitySingle"
            android:label="@string/AddActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/xml"/>
                <data android:scheme="about"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/vnd.wap.xhtml+xml"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme=""/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.WEB_SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SaveViewActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".WebViewGroupActivity"
            android:label="@string/WebViewGroupActivity">
        </activity>

        <activity
            android:name=".MenuGroupOptionActivity"
            android:label="@string/MenuGroupOptionActivity"
            android:parentActivityName="zzp.android.getweb.SaveViewActivity">
        </activity>

        <activity
            android:name=".WebViewActivity"
            android:label="@string/WebViewActivity"
            android:parentActivityName="zzp.android.getweb.SaveViewActivity">
        </activity>

    </application>
               
</manifest>